<div class="columns large-6 large-offset-3 medium-8 medium-offset-2 small-12">
  <p> * required</p>
  <%= form_for @customer do |f| %>
    <div><%= f.label :name, "Name *" %></div>
    <div><%= f.text_field :name, autofocus: true %></div>

    <div><%= f.label :phone, "Phone *"%></div>
    <div><%= f.text_field :phone %></div>


    <div><%= f.label :email%></div>
    <div><%= f.text_field :email %></div>


    <div><%= f.label :address %></div>  
    <div><%= f.text_field :address %></div>

    <div><%= f.submit class: "button radius tiny" %></div>
  <% end %>

</div>