<div class="row">

  <h2 class="secondary-title">Customer Info</h2>

  <p>Name: <%= @customer.name %></p>
  <p>Email: <%= @customer.email.empty? ? "No email provided yet!"  : @customer.email%></p>
  <p>Phone: <%= @customer.phone %></p>
  <p>Address: <%= @customer.address.empty? ? "No address provided yet!"  : @customer.address %></p>

  <%= link_to "Update Info", edit_customer_path(@customer), class: "button radius tiny spaced" %>

  <%= link_to "Delete Customer", customer_path(@customer), data: {confirm: "Are you sure you want to delete this contact?"}, method: "DELETE", class: "button radius tiny alert spaced" %>

  <hr>

  <h2 class="secondary-title">Jobs:</h2>
</div>
