<div class="columns large-9 large-offset-1">

  <h2 class="secondary-title">Customer Info:</h2>

  <p>Name: <%= @customer.name %></p>
  <p>Email: <%= @customer.email.empty? ? "No email provided yet!"  : @customer.email%></p>
  <p>Phone: <%= @customer.phone %></p>
  <p>Address: <%= @customer.address.empty? ? "No address provided yet!"  : @customer.address %></p>

  <%= link_to "Update Info", edit_customer_path(@customer), class: "button radius tiny spaced" %>

  <%= link_to "Delete Customer", customer_path(@customer), data: {confirm: "Are you sure you want to delete this contact?"}, method: "DELETE", class: "button radius tiny alert spaced" %>

  <hr>

  <h2 class="secondary-title">Jobs:</h2>
  <% if @jobs.empty? %>
  <p>You have no jobs listed for <%= @customer.name %>.</p>
  <% else %>  
    <ul class="jobs-list">
      <% @jobs.each do |job| %>
        <li><%= link_to "#{job.address}", job_path(job) %> <br> 
          &nbsp&nbsp&nbsp&nbsp&nbsp<%= job.completed_at.to_s.empty? ? "Not completed yet" : "Completed Date: #{job.completed_at}" %></li>
      <% end %>
    </ul>
  <% end %>
  <%= link_to "New Job", new_customer_job_path(@customer), class: "button radius tiny" %>
</div>
