<nav class="navbar" data-topbar>

  <ul class="logo-area">
    <li class="name">
      <h1><%= link_to image_tag("cb_logo.png", id: "logo"), root_path %></h1>
    </li>
  </ul>

  <ul class="title-area">
    <li><%= link_to "Gallery", albums_path, class: "nav-link", id: "galery-link", data: {"reveal-id" => "first-modal"}%></li>

    <% if current_admin && request.path != root_path %>
    <% else %>
      <li><%= link_to "About us", "#about-us", class: "nav-link scroll" %></li>
      <% if !current_admin %> 
        <li><%= link_to "Request Quote", new_quote_request_path , class: "nav-link request-quote-link", data: {"reveal-id" => "small-modal"}%></li>
      <% end %>
    <% end %>
   
    <% if current_admin && request.path == root_path%>
      <li><%= link_to "Admin Menu", admin_show_path, class: "nav-link" %></li>
    <% end %>
    <% if request.path != root_path  && current_admin %>
      <li><%= link_to "Sign Out", destroy_admin_session_path,method: "DELETE", class: "nav-link" %></li>
      <li><%= link_to "Back", :back , class: "button tiny round secondary back-button" %></li>
    <% end %> 
    
    <div class="row">
      <% if notice %>
        <p class="flash notice"><%= notice %></p>
      <% elsif alert %>
        <p class="flash alert"><%= alert %></p>
      <% end %>
    </div>
  </ul>
</nav>
