<nav class="navbar" data-topbar>

  <ul class="title-area">
    <li class="name">
      <h1><%= link_to image_tag("cb_logo.png", id: "logo"), root_path %></h1>
    </li>

    <% if current_admin && request.path != root_path %>
      <li><%= link_to "Albums" , albums_admin_index_path , class: "nav-link" %></li>
    <% else %>
      <li><%= link_to "Galery", albums_path, class: "nav-link" %></li>
      <li><%= link_to "About us", "#about-us", class: "nav-link scroll" %></li>
      <li><%= link_to "Request Quote", "#quote", class: "nav-link scrool" %></li>
    <% end %>
   
    <% if current_admin %>
      <li><%= link_to "Admin Menu", admin_show_path, class: "nav-link" %></li>
      <li><%= link_to "Sign Out", destroy_admin_session_path,method: "DELETE", class: "nav-link" %></li>
      
    <% end %>
    <% if request.path != root_path %>
      <li><%= link_to "Back", :back , class: "button tiny round secondary back-button" %></li>
    <% end %> 
    
    <div class="row">
      <% if notice %>
        <p class="flash notice"><%= notice %></p>
      <% elsif alert %>
        <p class="flash alert"><%= alert %></p>
      <% end %>
    </div>
  </ul>
</nav>
