<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Old+Standard+TT' rel='stylesheet' type='text/css'>
    <%= favicon_link_tag "favicon.ico" %>

    <title>Cb Flooring Inc Chicago</title>
    

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render "layouts/nav" %>
      <% if !@errors.nil? %>
        <div class="row">
          <%= render "layouts/errors" %>
        </div>
      <% end %>

      <% if current_admin && request.path != root_path %>
        <div class="row"></div>
        <%= render "layouts/admin_menu" %>
      <% end %>
        <%= yield %>
      <% if current_admin && request.path != root_path %>
        </div>
      <% end %>
    <%= javascript_include_tag "application" %>
    <div id="first-modal" class="reveal-modal xlarge" data-reveal></div>
    <div id="second-modal" class="reveal-modal xlarge" data-reveal></div>
    <div id="small-modal" class="reveal-modal medium" data-reveal></div>
  </body>
</html>